
<div class="container">
	
	<form class="form-signin" ng-submit="login()">
		<h2 class="form-signin-heading">로그인해주세요</h2>
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="text" id="inputEmail" ng-model="inputEmail" class="form-control" placeholder="Email address" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" ng-model="inputPassword" class="form-control" placeholder="Password" required>	  
		<button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
	</form>
	<div>
		<p>
			
			이 프로그램은 여러개의 인스타그램 계정에 한번에 포스팅을 할수있게 도와주는 프로그램입니다. 
			
			<br>프로그램문의는 comsamo84@gmail.com 으로 해주세요.
						
		</p>
	</div>
</div> <!-- /container -->

